.dartBoardPlayer {
    display: flex;
    color: #FFF;
    justify-content: center;
    align-items: center;
    height: 70px;
    border-bottom: 2px solid steelblue;
    border-left: 2px solid rgb(212, 212, 212);
}

.dartBoardPlayer:nth-child(2n+1) {
  background: radial-gradient(circle, rgb(27 64 78) -10%, rgb(73 161 216) 100%);
}

.removeCircle {
  color: #FFF;
  cursor: pointer;
  padding: 2px;
}

.removeCircle:active {
  transform: scale(0.88);
}

.resetGame {
  display: none;
}

.playerInfo {
  font-size: 19px;
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 70px;
  cursor: default;
  background: radial-gradient(circle, rgb(24, 92, 95) -10%, rgb(59, 180, 184) 100%);
}

.Rank {
  font-size: 19px;
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 70px;
  cursor: default;
  background: radial-gradient(circle, rgb(27 64 78) -10%, rgb(73 161 216) 100%);
}

.actions {
  font-size: 19px;
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 70px;
  cursor: default;
  background: radial-gradient(circle, rgb(24, 92, 95) -10%, rgb(59, 180, 184) 100%);
}



.randomizeTargets {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    border-radius: 10px;
}

.randomizeTargets > button {
  transition: all .4s ease-in-out;
  background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(70,130,180,1) 100%);
  cursor: pointer;
  color: #FFF;
  padding: 4px;
  font-family: 'Audiowide';
  font-size: 13px;
  border-radius: 10px;
  border: none !important;
  outline:none;
  letter-spacing: 1px;
}

 .randomizeTargets > button:hover {
  background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgb(50, 98, 138) 100%);
}



@media (max-width: 768px) {
    .dartBoardPlayer{
      height: 55px;
    }
    .playerInfo {
      font-size: 17px;
      height: 50px;
    }

    .Rank {
      font-size: 17px;
      height: 50px;
    }

    .actions {
      font-size: 16px;
      height: 64px;
    }
    .name {
      font-size: 20px !important;
    }
  }

  @media (max-width: 587px) {
    .randomizeTargets {
      padding: 35px 15px;
    }
  }

  @media (max-width: 568px) {
    .removePlayer {
      display: grid;
      grid-template-columns: 1fr;
      align-items: center;
      border-left: none;
      border-bottom: none;
    }
    .resetGame {
      display: grid;
      grid-template-columns: 1fr;
    }
    .removeCircle {
      transform: none;
    }
  }

  @media (max-width: 450px) {
    .dartBoardPlayer{
      height: 55px;
      padding-right: 0;
      border-top: none;
    }
    .name {
        font-size: 18px !important;
    }
    .playerInfo {
      font-size: 16px;
      height: 50px;
    }

    .Rank {
      font-size: 16px;
      height: 50px;
    }
    .actions {
      font-size: 16px;
      height: 59px;
    }
    .randomizeTargets {
      display: grid;
      grid-template-columns: 1fr;
    }
  }




