.dartBoardPlayer {
    display: flex;
    font-size: 40px;
    color: #FFF;
    justify-content: center;
    align-items: center;
    height: 70px;
    border-bottom: 4px solid #FFF;
    border-left: 4px solid #FFF;
    padding-right: 8%;
}

.removePlayer {
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 4px solid #FFF;
    border-bottom: 4px solid #FFF;
    padding: 6px 0;
}

.randomizeTargets {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 19px 0;
    margin-right: 4px;
}





