.dartBoardPlayer {
    display: flex;
    color: #FFF;
    justify-content: center;
    align-items: center;
    height: 70px;
    border-bottom: 4px solid #FFF;
    border-left: 8px solid #ff0000de;
    padding-right: 8%;
}

.removePlayer {
  display: none;
}

.removeCircle {
    color: #FFF;
    font-size: 28px !important;
    cursor: pointer;
}

.resetGame {
  display: none;
}

.randomizeTargets {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 19px 0;
}


@media (max-width: 768px) {
    .dartBoardPlayer{
      height: 55px;
    }
    .randomizeTargets {
        padding: 4px;
    }
  }

  @media (max-width: 450px) {
    .dartBoardPlayer{
      height: 55px;
      padding-right: 0;
      border-top: 4px solid #FFF;

    }
    .name {
        font-size: 16px !important;
    }
    .randomizeTargets {
      border-bottom: 4px solid #FFF;
      display: grid;
      grid-template-columns: 1fr;
      padding: 0;
    }
    .removeCircle {
      display: none !important;
    }
    .removePlayer {
      display: grid;
      grid-template-columns: 1fr;
      align-items: center;
      border-left: 6px solid #ff0000de;
      border-bottom: 4px solid #dbe4eb;
    }
    .resetGame {
      display: grid;
      grid-template-columns: 1fr;
    }
  }

