.PlayersBox {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(2,136,209,1) 100%);
    border-bottom: 4px solid #FFF;
}

@media (max-width: 768px) {
    .PlayersBox{
      height: 55px;
    }
  }

  @media (max-width: 450px) {
    .PlayersBox{
      border-top: 4px solid #FFF;
    }
  }