.PlayersBox {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    background: radial-gradient(circle, rgb(27 64 78) -10%, rgb(73 161 216) 100%);
    border-bottom: 2px solid steelblue;
}

@media (max-width: 768px) {
    .PlayersBox{
      height: 55px;
    }
  }
