.DartBoardItem {
    font-size : 45px !important;
    cursor: 'pointer';
    color: #FFF;
}

.DartBoardItem:hover {
    font-size: 52px !important;
}

.numbers {
    color: #0288d1;
    font-size: 40px;
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    height: 70px;
    border-bottom: 4px solid #FFF;
}

.numbers:nth-of-type(9) {
  color: white;
  background-color: #0288d1;
}

@media (max-width: 768px) {
    .numbers{
      font-size: 35px;
      height: 50px;
    }
    .DartBoardItem {
        font-size: 35px !important;
    }
    .DartBoardItem:hover {
        display:none;
    }
  }

  @media (max-width: 450px) {
    .numbers {
      font-size: 25px;
    }
    .DartBoardItem {
        font-size: 25px !important;
    }
  }
