.DartBoardItem {
    font-size : 45px !important;
    cursor: 'pointer';
    color: #FFF;
}

.DartBoardItem:hover {
    font-size: 52px !important;
}

.numbers {
    font-size: 34px;
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    height: 70px;
    border-radius: 10px;
    border-bottom: 2px solid steelblue;
}

.numbers:nth-of-type(8) {
  font-size: 40px;
  cursor: default;
}

.numbers:nth-of-type(8):hover {
  font-size: 45px;
}

@media (max-width: 768px) {
    .numbers{
      font-size: 25px;
      height: 50px;
    }
    .numbers:nth-of-type(8) {
      font-size: 30px;
    }
    
    .numbers:nth-of-type(8):hover {
      font-size: 35px;
    }
    .DartBoardItem {
        font-size: 35px !important;
    }
    .DartBoardItem:hover {
        display:none;
    }
  }

  @media (max-width: 450px) {
    .numbers {
      font-size: 21px;
    }
    .DartBoardItem {
        font-size: 25px !important;
    }
    .numbers:nth-of-type(9) {
      font-size: 20px;
    }
  }
