.addPlayer {
    transition: all .4s ease-in-out;
    cursor: pointer;
    font-size: 65px;
    padding-right: 10px;
    padding-top: 5px

}

.addPlayer:hover {
    color: #ccc;
};

@media (max-width: 450px) {
    .addPlayer {
      font-size: 10px !important;
    }
  }
