.addPlayer {
    transition: all .5s ease-in-out;
    cursor: pointer;
    /* font-size: 65px; */
    padding-right: 10px;
    padding-top: 5px

}

.addPlayer:hover {
    color: #03a9f4;
};

@media (max-width: 450px) {
    .addPlayer {
      font-size: 10px !important;
    }
  }
