.addPlayer {
    transition: all .4s ease-in-out;
    cursor: pointer;
    font-size: 60px;
    padding-top: 5px
}

.addPlayer:hover {
    color: rgba(204, 204, 204, 0.692);
};

@media (max-width: 450px) {
    .addPlayer {
      padding-right: 0;
      font-size: 12px !important;
    }
  }
