@import './colors';

.theme-font-1 {
  font-family: 'Audiowide';
}

.theme-color-1 {
  color: #FFF !important;
}

.MuiIconButton-root {
  padding: 0;
  box-shadow: none;
}

@media (max-width: 768px) {
  .MuiSvgIcon-root {
    font-size: 2.25em;
  }
  .MuiButtonBase-root {
    border-radius: 0;
    font-size: 0.75rem;
  }

}
