$japanese-violet: #5C2751;
$jordy-blue: #9693F9;
$japanese-indigo: #274060;
$electric-blue: #76E5FC;
$electric-blue-glow: rgba(118, 229, 252, .8);
$sea-serpent: #4BC0D9;
$dat-yellow: #f0c348;

$black: #444444;
$white: #f0f0f0;