@import './colors.scss';

.Header-container {
  margin-bottom: 40px;
}

.Header-title-line-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Header-title {
  font-family: 'Spicy Rice', cursive;
  font-size: 80px;
  letter-spacing: 4px;
}

.Header-helpIconContainer {
  position: absolute;
  right: 2%;
}

