@import './colors.scss';

.Header-container {
  margin-bottom: 10px;
}

.Header-title-line-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 18px;
}

.Header-title {
  margin-top: 12px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  font-family: 'Spicy Rice', cursive;
  font-size: 70px;
  text-shadow: -2px -2px 0 #01579b, 2px -2px 0 #0277bd, -2px 2px 0 #0288d1, 2px 2px 0 #039be5;
  img {
    position: relative;
    width: 100px;
    height: 100px;
    padding-right: 4px;
  }
}

.Player-name {
  font-family: 'Spicy Rice', cursive;
  font-size: 30px;
}

.Header-helpIconContainer {
  position: absolute;
  right: 2%;
}

// .Dart-img {
//   display: flex;
//   justify-content: center;
// }
