@import './colors.scss';

.Header-title-line-container {
  display: flex;
  align-items: center;
  margin-top: 60px;
  justify-content: center;
}

.Header-title {
  display: flex;
  font-family: 'Audiowide';
  cursor: default;
  justify-content: center;
  font-size: 40px;
  img {
    position: relative;
    width: 45px;
    height: 50px;
    padding-right: 4px;
  }
}

.Player-name{
  font-family: 'Audiowide';
}


@media (max-width: 768px) {
    .Header-title-line-container {
    margin-top: 100px;
  }
  .Header-title{
    font-size: 30px;
    img {
      width: 45px;
      height: 45px;
    }
  }
}

@media (max-width: 450px) {
  .Header-title{
    font-size: 30px;
    img {
      width: 50px;
      height: 50px;
    }
    }
    .Header-title-line-container {
      margin-top: 40px;
  }
  .Header-title {
    margin-bottom: 0;
  }
}


