.Label-style {
    font-family: 'Audiowide';
    font-size: 20px;
}

.redButton {
    transition: all .4s ease-in-out;
    background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgb(219, 32, 32) 100%);
    cursor: pointer;
    color: #FFF;
    padding: 4px;
    font-family: 'Audiowide';
    font-size: 13px;
    border-radius: 10px;
    letter-spacing: 1px;
}

.redButton:hover {
    background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgb(100, 5, 5) 100%);
  }

@media (max-width: 450px) {
    .Label-style {
        font-family: 'Audiowide';
      }
      .redButton {
        font-size: 11px;
    }
}

@media (max-width: 393px) {
    .redButton {
        font-size: 10px;
    }
}