.Label-style {
    font-family: 'Audiowide';
    font-size: 20px;
    background-color: rgb(20, 20, 20);
}

.redButton {
    transition: all .4s ease-in-out;
    background: #0d938fde;
    cursor: pointer;
    color: #FFF;
    padding: 4px;
    font-family: 'Audiowide';
    font-size: 13px;
    border: none;
    outline:none;
    letter-spacing: 1px;
}

.redButton:hover {
    background: #03a39ede;
  }

@media (max-width: 450px) {
    .Label-style {
        font-family: 'Audiowide';
      }
      .redButton {
        font-size: 10px;
    }
}

@media (max-width: 393px) {
    .redButton {
        font-size: 8px;
    }
}