.DartBoardPlayerControl {
    display: flex;
    font-size: 40px;
    font-weight: 700;
    color: "red";
    justify-content: center;
    align-items: center;
    height: 80px;
    border-bottom: 4px solid #dbe4eb;
    border-left: 4px solid #dbe4eb;
}