.DartBoardPlayerControl {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    border-radius: 0 0 10px 10px;
    border-bottom: 2px solid steelblue;
    border-left: 2px solid #ff0000de;
}

.removeCircle {
  color: #FFF;
  cursor: pointer;
  transform: translateX(-5px);
}

.Total {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  border-radius: 10px;
  border-bottom: 2px solid steelblue;
  border-left: 2px solid #ff0000de;
}

.DartBoardPlayerControl:nth-of-type(9) {
  display: flex;
  justify-content: space-evenly;
  border-left: none;
  border-right: 2px solid #000000de;
  border-bottom: none;
  border-radius: 0;
  margin-top: 10px;
  background: radial-gradient(circle, rgba(0,0,0,1) -10%, rgb(219, 32, 32) 100%);
}

.circle {
    border-radius: 50%;
    background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(70,130,180,1) 100%);
    cursor: pointer;
    font-size: 35px;
}

.complete {
  border-radius: 50%;
  background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgb(2, 209, 30) 100%);
}

.close {
    font-family: sans-serif;
    cursor: pointer;
    font-size: 40px !important; 
    color: #FFF;
}

.slash {
    font-family: serif;
    font-weight: bold;
    font-style: italic;
    cursor: pointer;
    color: #FFF;
    font-size: 40px;
}

.circle:hover {
    font-size: 40px !important;
    opacity: 1;
    transition: all .4 ease-in-out;
}

@media (max-width: 768px) {
  .close {
    font-size: 40px;
  }
    .DartBoardPlayerControl{
      height: 50px;
      font-size: 12px;
    }
    .circle {
        font-size: 25px !important;
        opacity: 1;
    }
    .slash {
      font-size: 30px;
    }
  }

  @media(max-width: 550px) {
    .removeCircle {
      transform: none;
    }
  }