.DartBoardPlayerControl {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    animation: slideDown 1.5s;
    border-bottom: 2px solid steelblue;
    box-shadow:  0 0 4px 1px rgba(63, 156, 175, 0.928);
}

.rank {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  animation: slideDown 1.4s;
  border-bottom: 2px solid steelblue;
  box-shadow:  0 0 4px 1px rgba(63, 156, 175, 0.928);
}

.DartBoardPlayerControl:hover {
  background: rgb(20, 20, 20)
}

@keyframes slideDown{
  from {
    transform: translateY(-100%);
    max-height: 0;
    opacity: 0;
  }
  to {
    transform: translateY(0);
    max-height: 70px;
    opacity: 1;
  }
}

.Total {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  border-radius: 10px;
  border-bottom: 2px solid steelblue;
  border-left: 2px solid steelblue;
}

.DartBoardPlayerControl:nth-of-type(8) {
  border-bottom: none;
  border-radius: 0;
}

.DartBoardPlayerControl:nth-of-type(9) {
  display: flex;
  justify-content: space-evenly;
  border-bottom: none;
  border-radius: 0;
  background: radial-gradient(circle, rgb(24, 92, 95) -10%, rgb(59, 180, 184) 100%);
}

.circle {
    border-radius: 50%;
    background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(70,130,180,1) 100%);
    cursor: pointer;
    font-size: 35px;
}

.circle:active {
  transform: scale(0.88);
  box-shadow:  0 0 8px 8px rgba(63, 156, 175, 0.928);
}

.complete {
  border-radius: 50%;
  padding:2px;
  background: #0d938fde;
}

.complete:active {
  transform: scale(0.88);
  box-shadow:  0 0 10px 10px rgba(63, 156, 175, 0.928);
}

.complete:active:after {
  box-shadow: 0 0 0 0 white;
  position: absolute;
  border-radius: 4em;
  left: 0;
  top:0;
  opacity: 1;
  transition: 0s;
}

.bonusIcon {
  font-size: 34px;
  -webkit-tap-highlight-color: transparent;
}

.bonusIcon:active {
  transform: scale(0.88);
}

.close {
    font-family: sans-serif;
    cursor: pointer;
    font-size: 40px;
    color: #FFF;
}

.close:active {
  transform: scale(0.88);
}

.slash {
    font-family: serif;
    font-weight: bold;
    font-style: italic;
    cursor: pointer;
    color: #FFF;
    font-size: 40px;
}

.slash:active {
  transform: scale(0.88);
}

.circle:hover {
    font-size: 40px !important;
    opacity: 1;
    transition: all .4 ease-in-out;
}

@media (max-width: 768px) {
  .close {
    font-size: 40px;
  }
    .DartBoardPlayerControl{
      height: 50px;
      font-size: 12px;
    }
    .circle {
        font-size: 25px !important;
        opacity: 1;
    }
    .slash {
      font-size: 30px;
    }
  }