.dartBoardPlayers {
    display: flex;
    cursor: 'pointer';
    width: 100%;
}


.dartBoardPlayers:nth-last-child(4) {
    background: radial-gradient(circle, rgb(0 0 0) -10%, rgb(27, 162, 0) 100%);
  }
.randomizePlayers {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 14px 0;
  background: radial-gradient(circle, rgb(27 64 78) -10%, rgb(73 161 216) 100%);

}

.randomizeButton {
    transition: all .4s ease-in-out;
    background: rgb(41 98 145) 100%;
    cursor: pointer;
    color: #FFF;
    padding: 4px;
    font-family: 'Audiowide';
    font-size: 13px;
    border: none;
    outline:none;
    letter-spacing: 2px;
}

.randomizeButton:hover {
    background: radial-gradient(circle, rgba(36, 70, 117, 0.711) 0%, rgb(50, 98, 138) 100%);
  }

  @media (max-width: 768px) {
      .randomizePlayers {
          padding: 10px 0;
      }
  }

  @media (max-width: 450px) {
    .randomizeButton {
        font-size: 10px;
    }
  }

  @media (max-width: 393px) {
    .randomizeButton {
        font-size: 8px;
    }
    .randomizePlayers {
        padding: 12px 0;
    }
}