.dartBoardPlayers {
    display: flex;
    cursor: 'pointer';
    width: 100%;
}

.randomizePlayers {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-left: 8px solid #ff0000de;
    padding: 19px 0;
}

@media (max-width: 768px) {
    .randomizePlayers {
        padding: 4px 0;
    }
  }

  @media (max-width: 450px) {
    .randomizePlayers {
        display: grid;
        grid-template-columns: 1fr 1fr;
        border-left: 4px solid #FFF;

        border-bottom: 4px solid #FFF;

        padding: 0;
    }
    .reset {
        display: none !important;
    }
  }