.dartBoardPlayers {
    display: flex;
    cursor: 'pointer';
    width: 100%;
}

.randomizePlayers {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 15px 0;
    margin-top: 9px;
    background-color: rgb(20, 20, 20);
}

.randomizeButton {
    transition: all .4s ease-in-out;
    background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(70,130,180,1) 100%);
    cursor: pointer;
    color: #FFF;
    border-radius: 10px;
    padding: 4px;
    font-family: 'Audiowide';
    font-size: 13px;
    border: none;
    outline:none;
    letter-spacing: 1px;
}

.randomizeButton:hover {
    background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgb(50, 98, 138) 100%);
  }

  @media (max-width: 768px) {
      .randomizePlayers {
          padding: 10px 0;
      }
  }

  @media (max-width: 450px) {
    .randomizeButton {
        font-size: 10px;
    }
  }

  @media (max-width: 393px) {
    .randomizeButton {
        font-size: 8px;
    }
    .randomizePlayers {
        padding: 12px 0;
    }
}